.color-black{
    color: black;
}
.flex-1{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: baseline;
}
.padding-1{
    padding: 7px;
}
.color-brand-red{
    color: #fd2f2f
}
.font-titre{
    font: 900;
    font-size: 25px
}
.Cnav{
    background-color: white;
    width: 100vw;
    border-bottom: #fd2f2f 1px solid;
}
.mine_form{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.mine_case_style{
    width: 26px; 
    height: 26px; 
    background-color: #bdbdbd;

}
.m_cell{
    text-indent:-9999px;
    width: 26px; 
    height: 26px; 
    border: 3px;
    border-top: #ffffff;
    border-left: #ffffff;
    border-right: #7d7d7d;
    border-bottom:#7d7d7d;
    
}
.mine_img{
    width: 24px;
    height: 24px;
}
.result_display{
    display: flex;
    width: auto;
}
.flag_img{
    background-image: url(../static/img/Minesweeper_flag.png);
    background-size: contain;
}
.col_flex{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
}
.rules_box{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
.left_n_right{
    display: flex;
    padding: 5px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
}
#minesweeper{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width: 1440px){

    .col_flex{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: flex-start;
        justify-content: flex-start;
        align-items: center;
    }
    .rules_box{
        width: 100%;
    }
    }